<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ericsauber.game3310">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main" />
        <activity android:name=".Contact" />
        <activity android:name=".MyDBHandler" />
        <!-- activity android:name=".DatabaseTest" -->
        <activity android:name=".Tutorial2" />
        <activity android:name=".Tutorial3" />
        <activity android:name=".Tutorial1" />
        <activity android:name=".Tutorial4" />
        <activity android:name=".Tutorial5" />
        <activity android:name=".Tutorial6" />
        <activity android:name=".Tutorial7" />
        <activity android:name=".Tutorial8" />
        <activity android:name=".Tutorial9" />
        <activity android:name=".Tutorial10" />
        <activity android:name=".Tutorial11" />
        <activity android:name=".Level1a" />
        <activity android:name=".Level1b" />
        <activity android:name=".Level1c" />
        <activity android:name=".Level1d" />
        <activity android:name=".Level1e" />
        <activity android:name=".Level1f" />
        <activity android:name=".Level2a" />
        <activity android:name=".Level2b" />
        <activity android:name=".Level2c" />
        <activity android:name=".Level2d" />
        <activity android:name=".Level2e" />
        <activity android:name=".Level2f" />
        <activity android:name=".Level3a" />
        <activity android:name=".Level3b" />
        <activity android:name=".Level3c" />
        <activity android:name=".Level3d" />
        <activity android:name=".Level3e" />
        <activity android:name=".Level3f" />
        <activity android:name=".Level3g" />
        <activity android:name=".Level3h" />
        <activity android:name=".Registration" />
        <activity android:name=".activity_levelalg" />
        <activity android:name=".Highcore" />
        <activity android:name=".Wrong" />
        <activity android:name=".GameOver" />
        <activity android:name=".Level3j"></activity>
    </application>

</manifest>